<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Cantor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form id="exchange_form" action="{{ url_for('exchange')}}" method="POST">
    <label for="currency">Currency</label>
    <select id="currency" name="currency">
        <option value="EUR">Euro</option>
        <option value="USD">Dollar</option>
        <option value="HUF">Forint</option>
    </select><br>
    <label for="amount">Amount</label>
    <input type="number" step="0.01" min="0" id="amount" name="amount" value="100"><br>
    <input type="submit" value="Send">
</form>
</body>
</html>